.error404 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .icon {
    height: $icon-height * 6;
    width: $icon-height * 6;
    margin-bottom: $spacing-base * 2;

    color: $color-secondary-lightest;
  }
}
