// .features-video {
// }

.features-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: calc(100% + #{$content-padding * 2});
  margin-top: $content-padding;
  margin-left: -$content-padding;
  margin-right: -$content-padding;
  gap: 0;

  @media (max-width: $breakpoint-phone-portrait) {
    width: calc(100% + $content-padding);
    margin-left: #{- $content-padding / 2};
    margin-right: #{- $content-padding / 2};
  }
}

.features-item {
  display: flex;
  flex-direction: row;
  background: rgb(63, 94, 251);
  background: linear-gradient(120deg, transparentize($color-secondary, 0.25) 35%, transparentize($color-secondary, 1) 75%);
  margin: 0;
  gap: 0;
  align-items: center;

  @media (max-width: $breakpoint-phone-portrait) {
    flex-direction: column;
    align-items: center;
  }

  &:hover {
    .features-item-image {
      scale: 1.05;
    }
  }

  .features-item-illustration {
    flex-grow: 1;
    width: 50%;
    padding: #{$content-padding / 2};

    @media (max-width: $breakpoint-tablet-portrait) {
      min-width: 50%;
      max-width: 50%;
    }

    @media (max-width: $breakpoint-phone-portrait) {
      min-width: 100%;
      max-width: 100%;
    }
  }

  .features-item-info {
    flex-grow: 1;
    width: 50%;
    padding: $content-padding #{$content-padding * 2};
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: $breakpoint-tablet-portrait) {
      width: 100%;
      padding: $spacing-base * 5;
      padding-left: 0;
    }

    @media (max-width: $breakpoint-phone-portrait) {
      width: 100%;
      padding: $spacing-base * 2.5;
    }
  }

  .features-item-image {
    filter: drop-shadow(0 #{$spacing-base} #{$spacing-base * 2} rgba(23, 0, 30, 0.7));
    transition: scale $animation-duration ease;
  }

  .features-item-title {
    margin: 0;
    margin-bottom: $spacing-base * 2;
  }

  .features-item-text {
    font-size: $font-size-title-small;
    line-height: 1.85rem;

    em {
      font-style: normal;
      font-weight: bold;
      color: $color-text-emphase;
    }
  }

  &.inverted {
    background: linear-gradient(120deg, transparentize($color-secondary, 1) 35%, transparentize($color-secondary, 0.25) 75%);

    .features-item-info {
      padding-right: 0;
      padding-left: $spacing-base * 10;

      @media (max-width: $breakpoint-tablet-portrait) {
        padding: $spacing-base * 5;
        padding-right: 0;
      }

      @media (max-width: $breakpoint-phone-portrait) {
        padding: $spacing-base * 2.5;
      }
    }

    @media (max-width: $breakpoint-phone-portrait) {
      flex-direction: column-reverse;
    }
  }
}

.features-cta {
  padding-top: $spacing-base * 2;
  padding-bottom: $spacing-base * 2;
  text-align: center;
}

.features-cta-buttons {
  margin-top: $spacing-base * 2;
  display: flex;
  flex-direction: row;
  gap: $spacing-base * 2;
  justify-content: center;
  flex-wrap: wrap;
}
