ul.game-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $spacing-base * 2;
  margin: 0 auto;
  margin-bottom: $spacing-base * 3;
  justify-content: center;

  li.game-list-item {
    width: $game-thumbnail-width;
    height: $game-thumbnail-height;
    margin: 0;
    display: block;
    box-shadow: $elevation-1;
    border-radius: $border-radius;
    max-width: 100%;
  }
}

a.game-item {
  background-color: $color-secondary-lighter;
  border-radius: $border-radius;
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline-offset: 0 !important;
  position: relative;

  &:hover {
    box-shadow: $elevation-3;
    transform: scale(1.025);
    -webkit-transform: scale(1.025);
  }
  &:active {
    box-shadow: $elevation-4;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }

  img {
    display: block;
    margin: 0;
    max-width: unset;
    min-width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: center;
  }

  .label-not-released {
    padding: #{$spacing-base / 4} #{$spacing-base / 2};
    background-color: $color-background-overlay;
    backdrop-filter: $blur-1;
    position: absolute;
    bottom: $spacing-base / 2;
    right: $spacing-base / 2;
    border-radius: $border-radius / 1.5;
    color: $color-text;
    font-weight: normal;
    font-size: $font-size-caption;
  }
}

.game-list-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: $spacing-base * 2;
}
