.image-overlay {
  display: none;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  backdrop-filter: $blur-2;
  background: $color-background-overlay;
  z-index: 9999;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-base * 2;

  img {
    display: block;
    margin: auto;
    box-shadow: $elevation-5;
  }
}
