.table-of-contents-aside {
  display: block;
  position: sticky;
  align-self: start;
  top: $aside-top;
  background: $color-background-navbar;
  padding: $spacing-base #{$spacing-base * 2};
  border-radius: $border-radius;
  box-shadow: $elevation-1;

  .table-of-contents-nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      & > li {
        margin-top: $margin-between-toc-items;
      }
      ul {
        margin-left: $spacing-base;
      }

      li {
        margin-bottom: $margin-between-toc-items;
      }

      a {
        color: $color-text-caption;
        font-weight: $font-weight;

        &.current {
          color: $color-text;
        }

        &:hover {
          color: $color-link-hover;
        }
      }
    }
  }

  .table-of-contents-title {
    color: $color-text-title;
    font-family: $font-family-title;
    font-size: $font-size-title-small;
    margin-bottom: $spacing-base;
  }

  @media (max-width: $breakpoint-tablet-portrait) {
    display: none;
  }
}
