<a class="about-item" href="{{ .RelPermalink }}">
  <div class="about-item-texts">
    <div class="about-item-title">{{- .Title | safeHTML -}}</div>
    <div class="about-item-excerpt">
      {{- .Excerpt -}}
    </div>
  </div>
  {{- partial "components/icon.html" "arrow-right" -}}
</a>
