<a class="game-item" href="{{ .RelPermalink }}">
  {{- $thumbnailResource := .Resources.GetMatch .Thumbnail -}}
  {{- with $thumbnailResource -}}
    {{- $resizedThumbnailResource := .Fit "700x360 webp" -}}
    <img loading="lazy" class="game-item-image" src="{{- $resizedThumbnailResource.RelPermalink -}}" />
  {{- end -}}
  {{- if (eq .InitialReleaseDate nil) -}}
    <div class="label-not-released">{{- i18n "gameNotReleased" | safeHTML -}}</div>
  {{- end -}}
</a>
