{{- if not .IsHome -}}
  {{ if .IsPage }}
    {{- $lastEditDate := .Lastmod | time.Format ":date_long" -}}
    {{- $lastEditTime := .Lastmod | time.Format ":time_long" -}}
    {{- if .File.Path -}}
      {{- $filePath := replace .File.Path "\\" "/" -}}
      {{- $pageEditURL := print site.Params.edit.editURL "content/" $filePath -}}
      <div class="container git-container">
        <div class="git">
          {{- with .Site.Params.edit.editURL -}}
            <div class="git-latest-update">
              {{- partial "components/icon" "time" -}}
              {{- i18n "gitPageLatestUpdate" | safeHTML -}}
              {{- " " -}}
              {{- print $lastEditDate ", " $lastEditTime -}}
            </div>
            <div class="git-edit">
              <span class="git-page-message">{{- i18n "gitPageMessage" | safeHTML -}}</span>
              <a href="{{ $pageEditURL }}">
                {{- partial "components/icon" "edit" -}}
                {{- i18n "gitPageEdit" | safeHTML -}}
              </a>
            </div>
          {{- end -}}
        </div>
      </div>
    {{- end -}}
  {{- end -}}
{{- end -}}
