<div id="searchPopup">
  <div id="searchLoadingIndex">
    {{- partial "components/spinner.html" -}}
    {{- i18n "searchLoadingIndex" | safeHTML -}}
  </div>
  <div id="searchNoResults">{{- i18n "searchNoResults" | safeHTML -}}</div>
  <ul id="searchResults"></ul>
</div>
